{% extends 'layout.html' %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<header class="alert alert-warning">Changing Password</header>
<div class="container">
    <form action="/change_password" method="POST">
        <div>
            <input type="Text" name="OPassword" placeholder="Old Password">
        </div>
        <div>
            <input type="password" name="NPassword" id="NPassword" placeholder="New Password" onkeyup="check_new_password();">
        </div>
        <div>
            <input type="Text" name="CNPassword" id="CNPassword" placeholder="Confirm New Password" onkeyup="check_new_password();">
            <br>
            <span id="message"></span>
        </div>
        <input class="btn btn-primary" type="submit" id="changePSWDBtn" disabled="True" value="Change Password!">
    </form>
</div>
{% endblock %}