{% extends 'layout.html' %}

{% block title %}
Change Username
{% endblock %}

{% block main %}
<header class="alert alert-primary">Changing Username</header>
<div class="container">
    <form action="/change_username" method="POST">
        <div>
            <input type="Text" name="OUsername" placeholder="Old Username">
        </div>
        <div>
            <input type="Text" name="NUsername" placeholder="New Username">
        </div>
        <input type="submit" class="btn btn-primary" value="Change Username">
    </form>
</div>
{% endblock %}