{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="register_authentification" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" id="password" onkeyup="check();">
        </div>
        <div class="form-group">
            <input class="form-control" name="cpassword" placeholder="Confirm Password" type="password" id="cpassword" onkeyup="check();">
            <br>
            <span id="message"></span>
        </div>
        <button class="btn btn-primary" type="submit" id="registerBtn" disabled="True">Register</button>
    </form>
{% endblock %}
